@media (min-width: 960px) and (max-width: 1440px) {
  .flex-cont {
    background-image: url("images/bg-intro-desktop.png");
    padding-inline: 4rem;
  }

  body {
    background-image: url("images/bg-intro-desktop.png");
  }
}

@media (min-width: 320px) and (max-width: 959px) {
  .flex-cont {
    background-image: url("images/bg-intro-mobile.png");
    flex-direction: column;
  }

  .gent {
    text-align: center;
  }

  body {
    background-image: url("images/bg-intro-mobile.png");
    padding-inline: 0.5rem;
  }
}

body {
  background-color: hsl(0, 100%, 74%);
  background-attachment: fixed;
  background-size: cover;
  font-family: "Poppins";
  display: grid;
  place-items: center;
  margin-block: 4rem;
}

h1 {
  font-weight: 700;
}

h5 {
  color: white;
}

p {
  font-weight: 400;
}

.cont {
  max-width: 1440px;
}

.flex-cont {
  background-color: hsl(0, 100%, 74%);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.one {
  font-size: 1rem;
  font-family: "Poppins";
  color: white;
  flex: 1;
}

.two {
  font-size: 16px;
  flex: 1;
}

.furm {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0 4px;
}

.bfm {
    margin-block-start: 8px;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 1rem;
  background-color: hsl(154, 59%, 51%);
  color: white;
  border: none;
  transition: all ease;
}

.bfm:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px;
}

.tro {
  text-align: center;
  color: hsl(246, 25%, 77%);
}

.try {
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 0px;
}

.mo {
  color: hsl(246, 25%, 77%);
}

.terms {
  color: hsl(0, 100%, 74%);
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 100%;
}

.input-control input:focus {
  outline: 0;
  border: 1px solid;
}

.input-control.success input {
  border-color: hsl(246, 25%, 77%);
}

.input-control.error input {
  border-color: hsl(0, 100%, 74%);
  background: url("images/icon-error.svg") no-repeat scroll 7px 7px;
  background-position: 95% 50%;
}

.input-control.error ::placeholder {
  color: hsl(0, 100%, 74%);
}

.input-control .error {
  color: hsl(0, 100%, 74%);
  font-family: "Poppins";
  font-size: 10px;
  /* height: 13px; */
  text-align: right;
  font-style: italic;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 700;
}

input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 700;
}

.footer {
  font-size: small;
}
